<div>
  <h1>Inventory Items</h1>
</div>

<table>
  <tr>
    <th>Id</th>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Warehouse</th>
    <th></th>
    <th></th>
  </tr>
  <% @inventory_items.each do |inventory_item| %>
  <tr>
    <td><%= inventory_item.id %></td>
    <td><%= link_to "#{inventory_item.item.name}", "/items/#{inventory_item.item.id}" %></td>
    <td><%= inventory_item.quantity %></td>
    <td><%= inventory_item.warehouse.name %></td>
    <td><%= link_to "Edit", "/inventory_items/#{inventory_item.id}/edit" %></td>
    <td><%= link_to "Delete", "/inventory_items/#{inventory_item.id}", method: :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to "Return to Homepage", "/" %><br>
