<h1 style="text-align:center;" >Inventory Tracker</h1>
<%= link_to "Add A New Item", "items/new" %><br>
<%= link_to "List of Items", "items" %><br>
<%= link_to "Add A New Warehouse", "warehouses/new" %><br>
<%= link_to "List of Warehouses", "warehouses" %><br>
<%= link_to "Add A New Item", "items/new" %><br>
<%= link_to "List of Inventory Items", "inventory_items" %><br>
<%= link_to "Add A New Inventory Item", "inventory_items/new" %><br>
